.container {
    /* text-align: center; */
    position: absolute;
    left: 20%;
    bottom: 10%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background: #f8f8f8; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .employee-form input {
    margin: 5px;
    padding: 8px;
  }
  
  .employee-form button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .employee-list {
    margin-top: 20px;
  }
  
  .employee-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
  }
  
  .employee-card button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .employee-card button:first-of-type {
    background-color: #ffc107;
  }
  
  .employee-card button:last-of-type {
    background-color: #dc3545;
    color: white;
  }
  